<div class=''>
  <div class=''>
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class='dropdownMenus col-md-12'>
    <div class='form-field'>
      <label for='restaurantFilter'>Restaurant</label>
      <select id='restaurantFilter' class='form-control'>
        <option>Choose restaurant</option>
        {{#each restaurants as |restaurant|}}
          <option value='{{restaurant.local}}'>{{restaurant.local}}</option>
        {{/each}}
      </select>
    </div>

    <div class='form-field'>
      <label for='reviewFilter'>Review</label>
      <select id='reviewFilter' class='form-control'>
        <option>Choose review</option>
        {{#each reviews as |review|}}
          <option value='{{review.title}}'>{{review.title}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>